$("#user_content_container").html("<%= escape_javascript render(partial: 'shared/picposts', picposts: @picposts) %>");
setup_masonry(3);
style_sidebar($("li#user_favorites"));
setup_favorites_button();
$("button.remove_favorite").click(function() {
  $(this).prev('input[name=favorite[reload]]').val("true");
});
$("div.user_header").html("<h4>Favorites</h4><br/>");
$("#stat_container").html("<%= escape_javascript render(partial: 'shared/favorite_stats', picposts: @picposts) %>");
