<div style="padding: 5px; color: #555555; font-weight: bold;">
  <span style="color: #777777;">Tags:</span>
  <% picpost.tags.each do |t| %>
    <span class="tag_names"><%= t.name %></span>
  <% end %>
</div>
