var element_id = "#<%= escape_javascript("comment_#{@picpost.id}") %>";
$("body").append("<div id='comments_container' class='round'></div>");
$("#comments_container").css({
  'position': 'absolute',
  'background-color': '#ffffff',
  'border': '1px solid black',
  'padding': '5px',
  'width': '200px'
});
$("#comments_container").html("<%= escape_javascript render(partial: 'static_pages/comment_form_container', picpost: @picpost) %>");

var left_offset = 0;
var top_offset = 0;
$(element_id).parents().each(function() {
  if( $(this).hasClass("pic") == true ) {
    left_offset = $(this).position().left;
    top_offset = $(this).position().top;
  }
});


$("#comments_container").css({
  'left': $(element_id).position().left + left_offset + $("#comments_container").width()/2 + 15,
  'top': $(element_id).position().top + top_offset - $("#comments_container").height() + 40,
});


/*$(element_id).popover(
  html: true,
  placement: 'top',
  trigger: 'manual',
  title: 'Comments',
  content: "<%= escape_javascript render(partial: 'static_pages/comment_form_container', picpost: @picpost) %>"
}).popover('toggle');*/



/*$("#popover_container").popover("<%= escape_javascript render(partial: 'static_pages/comment_form', picpost: @picpost)%>");*/
