@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  //background-color: rgb(248,246,210);
  //background-color: #EDE8E4;
  background-color: #f0f0f0;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  /*color: #999;*/
}

h4 {
//  font-size: 11px;
  color: #999;
  text-transform: uppercase;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid #F5CED0;*/
  border-top: 1px solid #ACD3FC;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

div.pic {
  //border: 1px solid #F5CED0;
  position: relative;
  padding-top: 5px;
  background-color: #ffffff;
  overflow: auto;
  font-size: x-small;
  a {
    color: #000000;
  }
}

.picture_content {
  margin-left: 18px;
}

.picture_row {
  margin-bottom: 10px;
}

p.caption {
  font-size: x-small;
}

.shadow {
  -webkit-box-shadow: 5px 5px 2.5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 2.5px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 2.5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.round {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.roundtop {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
}

.roundbottom {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

span.rating_icon_container {
  opacity: 0.8;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
  }
}

span.rating_icon_container_disabled {
  opacity: 0.5;
  margin-left: 10px;
  text-decoration: italic;
}

span.undo_icon_container {
  opacity: 0.8;
  font-size: xx-small;
  margin-left: 20px;
  padding-top: 5px;
  //border-top: 1px solid #F5CED0;
  //border-top: 1px solid #ACD3FC;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
  }
}

div.undo {
  padding-top: 5px;
}


/* Button link */
.button-link {
    padding: 10px 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.coolshadow {
  box-shadow: 0 2px 3px rgba(34, 25, 25, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(34,25,25,0.5);
  -webkit-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.5);
}

.coolshadow_bottom {
  box-shadow: 0 2px 5px rgba(34, 25, 25, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(34,25,25,0.5);
  -webkit-box-shadow: 0 2px 5px rgba(34, 25, 25, 0.5);
}

.coolshadow_inverse {
  box-shadow: 0 2px 3px rgba(232, 232, 232, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(232,232,232,0.5);
  -webkit-box-shadow: 0 2px 3px rgba(232, 232, 232, 0.5);
}

.whiteshadow {
  -moz-box-shadow: 0 2 3px #fff;
  -webkit-box-shadow: 0 2 3px #fff;
  box-shadow: 0px 2px 3px #fff;
}

ul.sidebar {
  list-style: none;
  color: #999999;
  //background-color: #575656;
  background-color: #222222;
  float: left;
  margin-left: 0px;
  a {
    color: #999999;
    &:hover {
      text-decoration: none;
    }
  } 
  li {
    padding: 10px 10px 10px 10px;
    i {
      float: right;
    }
    &:hover {
      cursor: pointer;
      background-color: #474747;
      color: #999999;
    }
  }
}

ul li.bar_selected {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    opacity: 0.5;
  }
}

li#user_picposts {
  &:hover {
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
  }
}

li#user_favorites {
  &:hover {
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
  }
}

div.rating_icon_box i {
  color: #eeeeee;
  &:hover {
    cursor: pointer;
    color: #000000;
  }
}

div.usercomment form {
  display: inline;
}

div.overlay {
  width: 100%; 
  height: 100%; 
  background-color: #000000; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1999; 
  opacity: 0.8;
}

div.usercomment {
  padding: 10px 10px 10px 5px; 
  font-size: x-small; 
  margin-bottom: 5px; 
  background-color: #eeeeee; 
  border: 1px solid #ACD3FC; 
  width: 160px; 
  overflow: auto; 
  position: relative;
}

div.comments_list {
  max-height: 125px; 
  overflow-y: auto; 
  padding: 10px; 
  padding-top: 0px; 
  padding-bottom: 20px;
}

div.rate_comment {
  position: absolute; 
  float: right; 
  top: 0px; 
  right: 3px;
}

div.post_comment_container {
  padding: 10px 10px 0px 10px;
}

.gradient {
  background: -moz-linear-gradient(center top, rgb(224, 224, 224), rgb(170, 170, 170)) repeat scroll 0% 0% transparent;
  background: -webkit-linear-gradient(rgb(224, 224, 224), rgb(170, 170, 170));
  background: -ms-linear-gradient(top, rgb(224, 224, 224), rgb(170, 170, 170));
  background: -o-linear-gradient(top, rgb(224, 224, 224), rgb(170, 170, 170));
}

.dark_gradient {
  background: -moz-linear-gradient(center top, #4d4d4d, #101010) repeat scroll 0% 0% transparent;
  background: -webkit-linear-gradient(#4d4d4d, #101010);
  background: -ms-linear-gradient(top, #4d4d4d, #101010);
  background: -o-linear-gradient(top, #4d4d4d, #101010);
}


button.exit_button {
  right: 10px; 
  top: 15px; 
  font-size: x-large; 
  font-weight: bold; 
  color: #696969; 
  padding: 0px 5px 2px 5px; 
  position: absolute;
  &:hover {
    opacity: 0.6;
    color: #000000;
  }
}

div.favorite_div button {
  background-color: #222222; 
  color: #999999;
  border: 1px solid #999999;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: #474747;
    color: #999999;
  }
}

button.inverse_colors {
  background-color: #999999;
  border: 1px solid #222222;
  color: #222222;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

div#stat_container table {
  margin-top: 10px;
  color: #555555;
  tr td:last-child {
    text-align: right;
    padding-left: 10px;
  }
  tr td:first-child {
    text-align: left;
  }
}

table#top_users tr td {
  padding: 10px 0px 10px 10px;
  background-color: #ffffff;
  width: 20%;
}

table#top_users {
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

ul#mytags {
  margin-left: 0;
  input { @include box-shadow(none); }
}

span.tag_names {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

div.social_login_container div {
  padding-bottom: 10px;
}

div.content_wrapper {
  //background-color: #f0f0f0;
  //padding: 10px 40px 0px 40px;
  //margin-top: -20px;
}

ul.savnav {
  position: relative;
  left: 0;
  display: block;
  margin: 15px 10px 0 0;
  list-style: none;
  padding: 0;
}

ul.savnav > li {
  display: block;
  float: left;
  line-height: 18px;
  height: 100%;
  a {  
    float: none;
    padding: 18px 11px 18px 11px;
    color: #999999;
    line-height: 19px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    &:hover {
      cursor: pointer;
      background-color: #4a4a4a; 
      //color: #ffffff;
    }
  }
}
